<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主页 - 学生管理系统</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
</head>
<body>
<div class="navbar">
    <a th:href="@{/home}">主页</a>
    <a th:href="@{/students}">学生管理</a>
    <a th:href="@{/courses}">课程管理</a>
    <a th:href="@{/assignments}">作业管理</a>
    <a th:href="@{/grades}">成绩管理</a>
    <a th:href="@{/logout}">退出登录</a>
</div>
<div class="container">
    <div class="welcome">
        <h2>欢迎，<span th:text="${user.username}"></span>！</h2>
        <p>角色：<span th:text="${user.role}"></span></p>
    </div>
</div>
</body>
</html>